jaxws-opsc-services/src/main/resources/xsd/GOLDSubscriber.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 rel. 2 sp2 (http://www.altova.com) by Lucia Segnalini (Orga Systems Italia Srl) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="ACCESSORY">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="AccountComponentType">
					<xs:sequence>
						<xs:element ref="BASKET" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element ref="RESOURCE" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element ref="PERSONALOPTION" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element name="DISCOUNT" type="DISCOUNTType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>VALID ONLY FOR QUERY = 9</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="ACCESSORYID">
						<xs:simpleType>
							<xs:restriction base="xs:decimal">
								<xs:totalDigits value="8"/>
								<xs:fractionDigits value="0"/>
								<xs:minInclusive value="0"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="NAME">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="10"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="ACCESSORYTYPE">
						<xs:simpleType>
							<xs:restriction base="xs:decimal">
								<xs:totalDigits value="2"/>
								<xs:fractionDigits value="0"/>
								<xs:minInclusive value="1"/>
								<xs:maxInclusive value="6"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="STATE">
						<xs:simpleType>
							<xs:restriction base="xs:decimal">
								<xs:totalDigits value="2"/>
								<xs:fractionDigits value="0"/>
								<xs:minInclusive value="0"/>
								<xs:maxInclusive value="5"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="HASRENEWAL" type="xs:int" default="0"/>
					<xs:attribute name="NUMRENEWAL" type="xs:int"/>
					<xs:attribute name="SECONDARY" type="xs:boolean" default="false"/>
					<xs:attribute name="USAGESTATE">
						<xs:simpleType>
							<xs:restriction base="xs:decimal">
								<xs:totalDigits value="1"/>
								<xs:fractionDigits value="0"/>
								<xs:minInclusive value="0"/>
								<xs:maxInclusive value="3"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="ACTIVATIONDATE" type="xs:dateTime"/>
					<xs:attribute name="STARTUSEDATE" type="xs:dateTime"/>
					<xs:attribute name="ENDUSEDATE" type="xs:dateTime"/>
					<xs:attribute name="NEXTUSEDATE" type="xs:dateTime"/>
					<xs:attribute name="DEACTIVATIONDATE" type="xs:dateTime"/>
					<xs:attribute name="EXPIRYDATE" type="xs:dateTime"/>
					<xs:attribute name="ACCESSORYCATEGORY" type="xs:short">
						<xs:annotation>
							<xs:documentation>This value is copied from the Offer model</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="MODELCOST">
						<xs:simpleType>
							<xs:restriction base="xs:decimal">
								<xs:totalDigits value="21"/>
								<xs:fractionDigits value="6"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="MODELCOSTSTART" type="xs:dateTime"/>
					<xs:attribute name="MODELCOSTEND" type="xs:dateTime"/>
					<xs:attribute name="MODELCOSTFLAG" type="xs:integer"/>
					<xs:attribute name="MODELDISCOUNTVALUE">
						<xs:simpleType>
							<xs:restriction base="xs:decimal">
								<xs:totalDigits value="18"/>
								<xs:fractionDigits value="6"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="ACCOUNT">
		<xs:annotation>
			<xs:documentation>Subscriber Account image</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="ACCOUNTType">
					<xs:attribute name="COMPONENTSTATE" use="optional">
						<xs:simpleType>
							<xs:restriction base="xs:nonNegativeInteger">
								<xs:maxInclusive value="4"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="ACCOUNTGROUP">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="AccountComponentType">
					<xs:sequence>
						<xs:element ref="ACCOUNTGROUPMEMBER" maxOccurs="unbounded"/>
					</xs:sequence>
					<xs:attribute name="GROUPID">
						<xs:simpleType>
							<xs:restriction base="xs:decimal">
								<xs:totalDigits value="12"/>
								<xs:fractionDigits value="0"/>
								<xs:minInclusive value="0"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="OFFERDEACTLIST" type="xs:string">
						<xs:annotation>
							<xs:documentation>Valid for QUERY response</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="BASKET">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="AccountComponentType">
					<xs:attribute name="BASKETID">
						<xs:simpleType>
							<xs:restriction base="xs:decimal">
								<xs:totalDigits value="8"/>
								<xs:fractionDigits value="0"/>
								<xs:minInclusive value="0"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="NAME">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="10"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="BASKETTYPE">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="10"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="HASROLLOVER" type="xs:boolean" default="false"/>
					<xs:attribute name="LASTSYNCHVALUE">
						<xs:simpleType>
							<xs:restriction base="xs:decimal">
								<xs:totalDigits value="21"/>
								<xs:fractionDigits value="6"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="LASTSYNCHDATE" type="xs:dateTime" use="optional"/>
					<xs:attribute name="ROLLOVERTHR" use="optional">
						<xs:simpleType>
							<xs:restriction base="xs:decimal">
								<xs:totalDigits value="18"/>
								<xs:fractionDigits value="6"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="ROLLOVERMAX" use="optional">
						<xs:simpleType>
							<xs:restriction base="xs:int">
								<xs:totalDigits value="4"/>
								<xs:fractionDigits value="0"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="LASTROLLOVERCNT" type="xs:unsignedShort" use="optional"/>
					<xs:attribute name="RecoveredDebit">
						<xs:simpleType>
							<xs:restriction base="xs:decimal">
								<xs:totalDigits value="21"/>
								<xs:fractionDigits value="6"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="MAXVALUE">
						<xs:simpleType>
							<xs:restriction base="xs:decimal">
								<xs:totalDigits value="21"/>
								<xs:fractionDigits value="6"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="EUROPAID" type="xs:boolean">
						<xs:annotation>
							<xs:documentation>Euro Basket to Paid:

- Acquisto carte servizi

- Rinnovo/estensione carte servizi

- Costi cambi profilo</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="IPDEVICE">
		<xs:complexType>
			<xs:attribute name="PASSWORD">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="32"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="NTWRESOURCE">
		<xs:complexType>
			<xs:attribute name="MAPID">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="4"/>
						<xs:fractionDigits value="0"/>
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="11"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="MAPVALUE">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="32"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="ROLEID">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="4"/>
						<xs:fractionDigits value="0"/>
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="OFFER">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="AccountComponentType">
					<xs:choice maxOccurs="unbounded">
						<xs:element ref="ACCESSORY" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element name="SLAVE" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:attribute name="Name">
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:maxLength value="10"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:attribute>
							</xs:complexType>
						</xs:element>
						<xs:element name="MASTER" minOccurs="0">
							<xs:complexType>
								<xs:attribute name="Name">
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:maxLength value="10"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:attribute>
							</xs:complexType>
						</xs:element>
						<xs:element name="DISCOUNT" type="DISCOUNTType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>VALID ONLY FOR QUERY = 9</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="DISCOUNTDATA" minOccurs="0">
							<xs:annotation>
								<xs:documentation>VALID ONLY FOR Query 1,10 and for </xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:attribute name="COMPONENTSTATE" use="optional">
									<xs:simpleType>
										<xs:restriction base="xs:nonNegativeInteger">
											<xs:maxInclusive value="4"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:attribute>
								<xs:attribute name="OFFERNAME" type="xs:string" use="required"/>
								<xs:attribute name="Discount" type="xs:double" use="required"/>
								<xs:attribute name="LimitDate" type="xs:dateTime" use="required"/>
								<xs:attribute name="BalanceInfo" type="xs:string" use="required"/>
								<xs:attribute name="EventList" use="required"/>
							</xs:complexType>
						</xs:element>
						<xs:element name="EXTRADATA" minOccurs="0">
							<xs:annotation>
								<xs:documentation>ONLY FOR PREPAID</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence minOccurs="0">
									<xs:element name="DISCOUNTSTEPS" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Mandatory and valid only with CostType="SS"</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:choice maxOccurs="unbounded">
												<xs:element name="STEP" minOccurs="0" maxOccurs="4">
													<xs:complexType>
														<xs:attribute name="ID" use="required"/>
														<xs:attribute name="NEXTRENEWALS" use="required">
															<xs:annotation>
																<xs:documentation>The counter of the next extensions/renewals to do.</xs:documentation>
															</xs:annotation>
														</xs:attribute>
														<xs:attribute name="COSTVALUE" use="required">
															<xs:annotation>
																<xs:documentation>The cost used in the extension or renewal batch operation.</xs:documentation>
															</xs:annotation>
															<xs:simpleType>
																<xs:restriction base="xs:decimal">
																	<xs:totalDigits value="10"/>
																	<xs:fractionDigits value="2"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:attribute>
														<xs:attribute name="USED" type="xs:boolean" use="required">
															<xs:annotation>
																<xs:documentation>Set to 'true' if the step is used to pay the extension/renew of the offer/accessory current period.
Otherwise, it is set to 'false'.</xs:documentation>
															</xs:annotation>
														</xs:attribute>
														<xs:attribute name="MINNUMRENEWAL" use="required">
															<xs:annotation>
																<xs:documentation>INTERNAL USE
The Step if the offer.numextension or accessory.numrenewal is greater-equal than  step.minnumrenewal.</xs:documentation>
															</xs:annotation>
														</xs:attribute>
														<xs:attribute name="MAXNUMRENEWAL" use="required">
															<xs:annotation>
																<xs:documentation>INTERNAL USE
The Step is valid until the offer.numextension or accessory.numrenewal is less-equal than  step.maxnumrenewal.</xs:documentation>
															</xs:annotation>
														</xs:attribute>
														<xs:attribute name="COMPONENTSTATE" use="optional">
															<xs:annotation>
																<xs:documentation>INTERNAL USE</xs:documentation>
															</xs:annotation>
															<xs:simpleType>
																<xs:restriction base="xs:nonNegativeInteger"/>
															</xs:simpleType>
														</xs:attribute>
													</xs:complexType>
												</xs:element>
												<xs:element name="FINALSTEP">
													<xs:complexType>
														<xs:attribute name="ID" use="required"/>
														<xs:attribute name="COSTVALUE" use="required">
															<xs:annotation>
																<xs:documentation>The cost used in the extension or renewal batch operation.</xs:documentation>
															</xs:annotation>
															<xs:simpleType>
																<xs:restriction base="xs:decimal">
																	<xs:totalDigits value="10"/>
																	<xs:fractionDigits value="2"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:attribute>
														<xs:attribute name="USED" type="xs:boolean" use="required">
															<xs:annotation>
																<xs:documentation>Set to 'true' if the step is used to pay the extension/renew of the offer/accessory current period.
Otherwise, it is set to 'false'.</xs:documentation>
															</xs:annotation>
														</xs:attribute>
														<xs:attribute name="MINNUMRENEWAL" use="required">
															<xs:annotation>
																<xs:documentation>INTERNAL USE
The Step if the offer.numextension or accessory.numrenewal is greater-equal than  step.minnumrenewal.</xs:documentation>
															</xs:annotation>
														</xs:attribute>
														<xs:attribute name="COMPONENTSTATE" use="optional">
															<xs:annotation>
																<xs:documentation>INTERNAL USE</xs:documentation>
															</xs:annotation>
															<xs:simpleType>
																<xs:restriction base="xs:nonNegativeInteger"/>
															</xs:simpleType>
														</xs:attribute>
													</xs:complexType>
												</xs:element>
											</xs:choice>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
								<xs:attribute name="COMPONENTSTATE" use="optional">
									<xs:simpleType>
										<xs:restriction base="xs:nonNegativeInteger"/>
									</xs:simpleType>
								</xs:attribute>
								<xs:attribute name="OFFERID">
									<xs:simpleType>
										<xs:restriction base="xs:decimal">
											<xs:totalDigits value="8"/>
											<xs:fractionDigits value="0"/>
											<xs:minInclusive value="0"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:attribute>
								<xs:attribute name="COSTTYPE" use="required">
									<xs:annotation>
										<xs:documentation>"DEF": Default
"CB" : Customer Base
"AL" : New account
"MNP": account for MNP
"PP" : Personal Price
"SS" : Discount Steps (Scala Sconti)</xs:documentation>
									</xs:annotation>
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:enumeration value="DEF"/>
											<xs:enumeration value="CB"/>
											<xs:enumeration value="AL"/>
											<xs:enumeration value="MNP"/>
											<xs:enumeration value="PP"/>
											<xs:enumeration value="SS"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:attribute>
								<xs:attribute name="COSTVALUE" use="optional">
									<xs:annotation>
										<xs:documentation>Valued only for PersonalPrice (PP).</xs:documentation>
									</xs:annotation>
									<xs:simpleType>
										<xs:restriction base="xs:decimal">
											<xs:totalDigits value="10"/>
											<xs:fractionDigits value="2"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:attribute>
								<xs:attribute name="GTFCODE">
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:maxLength value="15"/>
											<xs:whiteSpace value="preserve"/>
											<xs:minLength value="0"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:attribute>
								<xs:attribute name="INITIATIVECODE">
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:minLength value="0"/>
											<xs:maxLength value="15"/>
											<xs:whiteSpace value="preserve"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:attribute>
								<xs:attribute name="DISCOUNTMODE" type="xs:string"/>
							</xs:complexType>
						</xs:element>
					</xs:choice>
					<xs:attribute name="OFFERID">
						<xs:simpleType>
							<xs:restriction base="xs:decimal">
								<xs:totalDigits value="8"/>
								<xs:fractionDigits value="0"/>
								<xs:minInclusive value="0"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="NAME">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="10"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="OFFERCATEGORY">
						<xs:simpleType>
							<xs:restriction base="xs:decimal">
								<xs:totalDigits value="2"/>
								<xs:fractionDigits value="0"/>
								<xs:minInclusive value="1"/>
								<xs:maxInclusive value="5"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="MASTEROFFERID">
						<xs:simpleType>
							<xs:restriction base="xs:decimal">
								<xs:totalDigits value="8"/>
								<xs:fractionDigits value="0"/>
								<xs:minInclusive value="0"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="OFFERTYPE">
						<xs:simpleType>
							<xs:restriction base="xs:decimal">
								<xs:totalDigits value="2"/>
								<xs:fractionDigits value="0"/>
								<xs:minInclusive value="1"/>
								<xs:maxInclusive value="3"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="STATE">
						<xs:simpleType>
							<xs:restriction base="xs:decimal">
								<xs:totalDigits value="2"/>
								<xs:fractionDigits value="0"/>
								<xs:minInclusive value="0"/>
								<xs:maxInclusive value="5"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="NOTIFYREQUEST">
						<xs:simpleType>
							<xs:restriction base="xs:decimal">
								<xs:totalDigits value="2"/>
								<xs:fractionDigits value="0"/>
								<xs:minInclusive value="1"/>
								<xs:maxInclusive value="3"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="NOTIFYSTATE">
						<xs:simpleType>
							<xs:restriction base="xs:decimal">
								<xs:totalDigits value="2"/>
								<xs:fractionDigits value="0"/>
								<xs:minInclusive value="0"/>
								<xs:maxInclusive value="2"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="NOTIFYTYPE">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:length value="1"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="HASEXTENSION">
						<xs:simpleType>
							<xs:restriction base="xs:decimal">
								<xs:totalDigits value="1"/>
								<xs:fractionDigits value="0"/>
								<xs:minInclusive value="0"/>
								<xs:maxInclusive value="4"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="NUMEXTENSION">
						<xs:simpleType>
							<xs:restriction base="xs:decimal">
								<xs:totalDigits value="4"/>
								<xs:fractionDigits value="0"/>
								<xs:minInclusive value="0"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="ACTIVATIONDATE" type="xs:dateTime"/>
					<xs:attribute name="FEEPAYMENTDATE" type="xs:dateTime"/>
					<xs:attribute name="DEACTIVATIONDATE" type="xs:dateTime"/>
					<xs:attribute name="EXPIRYDATE" type="xs:dateTime"/>
					<xs:attribute name="NEXTFEEDATE" type="xs:dateTime"/>
					<xs:attribute name="PAYMODE" type="xs:integer"/>
					<xs:attribute name="MODELCOST">
						<xs:simpleType>
							<xs:restriction base="xs:decimal">
								<xs:totalDigits value="21"/>
								<xs:fractionDigits value="6"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="MODELCOSTSTART" type="xs:dateTime"/>
					<xs:attribute name="MODELCOSTEND" type="xs:dateTime"/>
					<xs:attribute name="MODELCOSTFLAG" type="xs:integer"/>
					<xs:attribute name="MODELDISCOUNTVALUE">
						<xs:simpleType>
							<xs:restriction base="xs:decimal">
								<xs:totalDigits value="18"/>
								<xs:fractionDigits value="6"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attributeGroup ref="integrateOffer4query"/>
					<xs:attribute name="OFFERKIND" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:pattern value="STD"/>
								<xs:pattern value="MD"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="DIGITAL">
						<xs:annotation>
							<xs:documentation>B - Digital Base Offer

O - Digital Optional Offer

C - Digital Convergent Offer (only for DGTNC)</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="B"/>
								<xs:enumeration value="O"/>
								<xs:enumeration value="C"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="PERSONALOPTION">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="AccountComponentType">
					<xs:sequence>
						<xs:element name="PATTERN" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="xs:string"/>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="OPTIONID">
						<xs:simpleType>
							<xs:restriction base="xs:decimal">
								<xs:totalDigits value="8"/>
								<xs:fractionDigits value="0"/>
								<xs:minInclusive value="0"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="NAME">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="10"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="OPTIONTYPE">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:length value="1"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="OPTIONGROUP">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="10"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="NUMOPTCHANGE">
						<xs:simpleType>
							<xs:restriction base="xs:decimal">
								<xs:totalDigits value="5"/>
								<xs:fractionDigits value="0"/>
								<xs:minInclusive value="0"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="CREATIONDATE" type="xs:dateTime"/>
					<xs:attribute name="LASTCHANGEDATE" type="xs:dateTime"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="RELRESOURCE">
		<xs:complexType>
			<xs:attribute name="AUTORELCUT">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="18"/>
						<xs:fractionDigits value="6"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="LASTAUTORELDATE" type="xs:dateTime"/>
			<xs:attribute name="AUTORELCNT">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="4"/>
						<xs:fractionDigits value="0"/>
						<xs:minInclusive value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="SIMDEVICE">
		<xs:complexType>
			<xs:attribute name="ICCID">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="CARDFEATURES">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="8"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="CARDPHASE">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="2"/>
						<xs:minLength value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="SUBSCRIBERMAP">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="AccountComponentType">
					<xs:choice minOccurs="0">
						<xs:element ref="SIMDEVICE"/>
						<xs:element ref="TACSDEVICE"/>
						<xs:element ref="IPDEVICE"/>
					</xs:choice>
					<xs:attribute name="ACCOUNTID">
						<xs:simpleType>
							<xs:restriction base="xs:decimal">
								<xs:totalDigits value="12"/>
								<xs:fractionDigits value="0"/>
								<xs:minInclusive value="0"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="MAPID">
						<xs:simpleType>
							<xs:restriction base="xs:decimal">
								<xs:totalDigits value="4"/>
								<xs:fractionDigits value="0"/>
								<xs:minInclusive value="1"/>
								<xs:maxInclusive value="11"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="MAPVALUE">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="32"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="ROLEID">
						<xs:simpleType>
							<xs:restriction base="xs:decimal">
								<xs:totalDigits value="4"/>
								<xs:fractionDigits value="0"/>
								<xs:minInclusive value="1"/>
								<xs:maxInclusive value="3"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="ISREPLACED" type="xs:boolean" use="optional">
						<xs:annotation>
							<xs:documentation>Added to indicate that the current subscriber map is being replaced by a new one with the same mapID and roleID, but different mapValue.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="SUBSCRIPTION">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="AccountComponentType">
					<xs:sequence>
						<xs:element ref="OFFER" maxOccurs="unbounded"/>
					</xs:sequence>
					<xs:attribute name="SUBSCRIPTIONID">
						<xs:simpleType>
							<xs:restriction base="xs:decimal">
								<xs:totalDigits value="8"/>
								<xs:fractionDigits value="0"/>
								<xs:minInclusive value="0"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="NAME">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="10"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="SUBSCRIPTIONTYPE">
						<xs:simpleType>
							<xs:restriction base="xs:decimal">
								<xs:totalDigits value="2"/>
								<xs:fractionDigits value="0"/>
								<xs:minInclusive value="1"/>
								<xs:maxInclusive value="4"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="TECHNOLOGY">
						<xs:simpleType>
							<xs:restriction base="xs:decimal">
								<xs:totalDigits value="2"/>
								<xs:fractionDigits value="0"/>
								<xs:minInclusive value="1"/>
								<xs:maxInclusive value="3"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="PRODUCTTYPE">
						<xs:simpleType>
							<xs:restriction base="xs:decimal">
								<xs:totalDigits value="4"/>
								<xs:fractionDigits value="0"/>
								<xs:minInclusive value="0"/>
								<xs:maxInclusive value="7"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="PRODUCTVALUE">
						<xs:simpleType>
							<xs:restriction base="xs:decimal">
								<xs:totalDigits value="4"/>
								<xs:fractionDigits value="0"/>
								<xs:minInclusive value="0"/>
								<xs:maxInclusive value="5"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="PRODUCTCHANNEL">
						<xs:simpleType>
							<xs:restriction base="xs:decimal">
								<xs:totalDigits value="4"/>
								<xs:fractionDigits value="0"/>
								<xs:minInclusive value="1"/>
								<xs:maxInclusive value="5"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="STATE">
						<xs:simpleType>
							<xs:restriction base="xs:decimal">
								<xs:totalDigits value="2"/>
								<xs:fractionDigits value="0"/>
								<xs:minInclusive value="0"/>
								<xs:maxInclusive value="5"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="INSTALLATIONDATE" type="xs:dateTime"/>
					<xs:attribute name="ACTIVATIONDATE" type="xs:dateTime"/>
					<xs:attribute name="DEACTIVATIONDATE" type="xs:dateTime"/>
					<xs:attribute name="EXPIRYDATE" type="xs:dateTime"/>
					<xs:attributeGroup ref="ONLY_QUERY_1_10"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="TACSDEVICE">
		<xs:complexType>
			<xs:attribute name="CATEGORY">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="6"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="RESOURCE">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="AccountComponentType">
					<xs:choice minOccurs="0">
						<xs:element ref="NTWRESOURCE"/>
						<xs:element ref="RELRESOURCE"/>
					</xs:choice>
					<xs:attribute name="RESOURCEID">
						<xs:simpleType>
							<xs:restriction base="xs:decimal">
								<xs:totalDigits value="8"/>
								<xs:fractionDigits value="0"/>
								<xs:minInclusive value="0"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="NAME">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="10"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="RESOURCETYPE">
						<xs:simpleType>
							<xs:restriction base="xs:decimal">
								<xs:totalDigits value="2"/>
								<xs:fractionDigits value="0"/>
								<xs:minInclusive value="1"/>
								<xs:maxInclusive value="9"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="STATE">
						<xs:simpleType>
							<xs:restriction base="xs:decimal">
								<xs:totalDigits value="2"/>
								<xs:fractionDigits value="0"/>
								<xs:minInclusive value="0"/>
								<xs:maxInclusive value="4"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="EVENTMODE">
						<xs:simpleType>
							<xs:restriction base="xs:decimal">
								<xs:totalDigits value="2"/>
								<xs:fractionDigits value="0"/>
								<xs:minInclusive value="1"/>
								<xs:maxInclusive value="4"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="ACCOUNTType">
		<xs:sequence>
			<xs:element name="PENDINGRELOAD" minOccurs="0">
				<xs:complexType>
					<xs:attribute name="MSISDN">
						<xs:simpleType>
							<xs:restriction base="xs:decimal">
								<xs:totalDigits value="12"/>
								<xs:fractionDigits value="0"/>
								<xs:minInclusive value="0"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="TID" type="xs:string" use="required"/>
					<xs:attribute name="DATE" type="xs:string" use="required"/>
					<xs:attribute name="STATE" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:unsignedByte">
								<xs:pattern value="[0-2]"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
			<xs:element ref="SUBSCRIBERMAP" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="ACCOUNTGROUP" minOccurs="0"/>
			<xs:element ref="SUBSCRIPTION" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="BOOKING" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="BOOKOFFER" type="BOOKOFFERSType" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="ACCOUNTID">
			<xs:simpleType>
				<xs:restriction base="xs:decimal">
					<xs:totalDigits value="12"/>
					<xs:fractionDigits value="0"/>
					<xs:minInclusive value="0"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="GROUPID">
			<xs:simpleType>
				<xs:restriction base="xs:decimal">
					<xs:totalDigits value="12"/>
					<xs:fractionDigits value="0"/>
					<xs:minInclusive value="0"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="SERVICEPROVIDERID">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="5"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="LANGUAGEID">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="2"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="STATE">
			<xs:simpleType>
				<xs:restriction base="xs:decimal">
					<xs:totalDigits value="2"/>
					<xs:fractionDigits value="0"/>
					<xs:minInclusive value="0"/>
					<xs:maxInclusive value="10"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="RESFROMEXPREAS" use="optional">
			<xs:simpleType>
				<xs:restriction base="xs:int">
					<xs:totalDigits value="1"/>
					<xs:minInclusive value="0"/>
					<xs:maxInclusive value="1"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="REASON">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="2"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ACCOUNTTYPE">
			<xs:simpleType>
				<xs:restriction base="xs:decimal">
					<xs:totalDigits value="2"/>
					<xs:fractionDigits value="0"/>
					<xs:minInclusive value="1"/>
					<xs:maxInclusive value="4"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ACCOUNTCATEGORY">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="16"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="INSTALLATIONDATE" type="xs:dateTime"/>
		<xs:attribute name="ACTIVATIONDATE" type="xs:dateTime"/>
		<xs:attribute name="DEACTIVATIONDATE" type="xs:dateTime"/>
		<xs:attribute name="DEACTIVATED" type="xs:dateTime"/>
		<xs:attribute name="EXPIRYDATE" type="xs:dateTime"/>
		<xs:attribute name="NOTIFYREQUEST">
			<xs:simpleType>
				<xs:restriction base="xs:decimal">
					<xs:totalDigits value="2"/>
					<xs:fractionDigits value="0"/>
					<xs:minInclusive value="1"/>
					<xs:maxInclusive value="3"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="NOTIFYTYPE">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:length value="1"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="NOTIFYDATE" type="xs:dateTime"/>
		<xs:attribute name="TYPEOFCARD">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="2"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="NUMRELOADS">
			<xs:simpleType>
				<xs:restriction base="xs:decimal">
					<xs:totalDigits value="5"/>
					<xs:fractionDigits value="0"/>
					<xs:minInclusive value="0"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="LASTRELOAD" type="xs:dateTime"/>
		<xs:attribute name="NUMTARIFFS">
			<xs:simpleType>
				<xs:restriction base="xs:decimal">
					<xs:totalDigits value="5"/>
					<xs:fractionDigits value="0"/>
					<xs:minInclusive value="0"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="LASTCHANGETARIFF" type="xs:dateTime"/>
		<xs:attribute name="LASTCALLDATE" type="xs:dateTime"/>
		<xs:attribute name="LASTBATCHDATE" type="xs:dateTime"/>
		<xs:attribute name="NEXTBATCHDATE" type="xs:dateTime"/>
		<xs:attribute name="NEXTREMINDDATE" type="xs:dateTime"/>
		<xs:attribute name="NEXTBATCHFLAGS">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="0"/>
					<xs:maxLength value="6"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="TARGET">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="0"/>
					<xs:maxLength value="6"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	<xs:attribute name="NEXTRECURRINGHOUR" type="xs:dateTime"/>
	</xs:complexType>
	<xs:complexType name="AccountComponentType">
		<xs:attribute name="COMPONENTSTATE" use="optional">
			<xs:simpleType>
				<xs:restriction base="xs:nonNegativeInteger"/>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="ACCOUNTGROUPMEMBER">
		<xs:complexType>
			<xs:sequence minOccurs="0">
				<xs:element ref="OFFER" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="MEMBERID" use="required">
				<xs:annotation>
					<xs:documentation>The field can contains mobile or fixed number (only for Master)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:maxLength value="12"/>
						<xs:pattern value="[0-9]+"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="ISGROUPMASTER" type="xs:boolean" use="required"/>
			<xs:attribute name="COMPONENTSTATE" type="xs:nonNegativeInteger" use="optional"/>
			<xs:attribute name="ACCOUNTCATEGORY" type="xs:string"/>
			<xs:attribute name="OFFERNAME" type="xs:string"/>
			<xs:attribute name="OFFERSTATUS">
				<xs:annotation>
					<xs:documentation>0 = Unknow

1 = Active

2 = In Deactivation

3 = Deactive

4 = In Downgrade</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Active"/>
						<xs:enumeration value="In Deactivation"/>
						<xs:enumeration value="Deactive"/>
						<xs:enumeration value="In Downgrade"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="TOT_ACT_MEMBERS" type="xs:int"/>
			<xs:attribute name="TOT_PRV_MEMBERS" type="xs:int"/>
			<xs:attribute name="CIC">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="6"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="SLAVE_CATEGORY">
				<xs:annotation>
					<xs:documentation>Valid only for all type of Slave account (only for TIM Digital offers): 

N - Normal slave

S - Special slave</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="N"/>
						<xs:enumeration value="S"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attributeGroup ref="ONLY_QUERY_11"/>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="BOOKOFFERSType">
		<xs:attribute name="COMPONENTSTATE" type="xs:nonNegativeInteger" use="optional"/>
		<xs:attribute name="ID" type="xs:string" use="optional"/>
		<xs:attribute name="NAME" type="xs:string" use="required"/>
		<xs:attribute name="EXPIRYDATE" type="xs:dateTime" use="required"/>
		<xs:attribute name="OPERATIONCOST" type="xs:double" use="required"/>
		<xs:attribute name="REPLACEBASEOFFER" type="xs:boolean" use="required"/>
		<xs:attribute name="SUBSYSTEM" type="xs:string" use="required"/>
		<xs:attribute name="OPERATIONDATE" type="xs:dateTime" use="required"/>
	</xs:complexType>
	<xs:attributeGroup name="ONLY_QUERY_11">
		<xs:attribute name="ACCOUNTSTATE">
			<xs:annotation>
				<xs:documentation>Valid only for QueryType=11</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:decimal">
					<xs:totalDigits value="2"/>
					<xs:fractionDigits value="0"/>
					<xs:minInclusive value="0"/>
					<xs:maxInclusive value="5"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="integrateOffer4query">
		<xs:attribute name="DEACTMOD">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:maxLength value="1"/>
					<xs:pattern value="[0|1|2|3|4|5|6|7|8|9|10|11|12]"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="RESTART">
			<xs:annotation>
				<xs:documentation>0 = l'offerta non è Restartabile



1 = l'offerta è Restartabile ma non è attivo il servizio



2 = l'offerta è Restartabile ed è attivo il servizio ONE-SHOT



3 = l'offerta è Restartabile ed è attivo il servizio RECURRING</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:int">
					<xs:minInclusive value="0"/>
					<xs:maxInclusive value="3"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="ONLY_QUERY_1_10">
		<xs:attribute name="MAXALLOWEDOFFERS" use="optional">
			<xs:annotation>
				<xs:documentation>Valid only for QueryType=1 and 10</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:integer">
					<xs:minInclusive value="0"/>
					<xs:maxInclusive value="30"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:complexType name="DISCOUNTType">
		<xs:attribute name="EXTENSIONCOST">
			<xs:annotation>
				<xs:documentation>for OfferExtension</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:decimal">
					<xs:totalDigits value="18"/>
					<xs:fractionDigits value="6"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="RENEWALCOST">
			<xs:annotation>
				<xs:documentation>for AccessoryRenewal</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:decimal">
					<xs:totalDigits value="18"/>
					<xs:fractionDigits value="6"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="DISCOUNTVALUE" use="required">
			<xs:annotation>
				<xs:documentation>Value deducted from COST field.</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:decimal">
					<xs:totalDigits value="18"/>
					<xs:fractionDigits value="6"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
