jaxws-recharge-services/src/main/resources/GatewayServicesRecharge_v1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://telecomitalia.it/SOA/TRCS/Gateway"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:head="http://telecomitalia.it/SOA/SOAP/SOAPHeader"
	xmlns:tns="http://telecomitalia.it/SOA/TRCS/Gateway" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<wsdl:types>
		<xsd:schema xmlns="http://www.w3.org/2001/XMLSchema"
			xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://telecomitalia.it/SOA/TRCS/Gateway">
			<xsd:import namespace="http://telecomitalia.it/SOA/SOAP/SOAPHeader"
				schemaLocation="xsd/SOAPHeader_v1.1.xsd" />
			<xsd:import namespace="http://telecomitalia.it/SOA/TRCS/Gateway"
				schemaLocation="xsd/Reload.xsd" />
			<xsd:import namespace="http://telecomitalia.it/SOA/TRCS/Gateway"
				schemaLocation="xsd/Balance.xsd" />
			<xsd:import namespace="http://telecomitalia.it/SOA/TRCS/Gateway"
				schemaLocation="xsd/Combine.xsd" />
			<xsd:import namespace="http://telecomitalia.it/SOA/TRCS/Gateway"
				schemaLocation="xsd/CloseRechargeTransaction.xsd" />
			<xsd:import namespace="http://telecomitalia.it/SOA/TRCS/Gateway"
				schemaLocation="xsd/Gateway-BalanceX.xsd" />
			<xsd:import namespace="http://telecomitalia.it/SOA/TRCS/Gateway"
				schemaLocation="xsd/Gateway-BalanceXCloseTransaction.xsd" />
			<xsd:import namespace="http://telecomitalia.it/SOA/TRCS/Gateway"
				schemaLocation="xsd/ReloadX.xsd" />
			<xsd:import namespace="http://telecomitalia.it/SOA/TRCS/Gateway"
				schemaLocation="xsd/OpscBalanceX.xsd" />
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="ReloadRequestMsg">
		<wsdl:part element="tns:ReloadRequest" name="body" />
		<wsdl:part name="Header" element="head:Header" />
	</wsdl:message>
	<wsdl:message name="ReloadResponseMsg">
		<wsdl:part element="tns:ReloadResponse" name="body" />
		<wsdl:part name="Header" element="head:Header" />
	</wsdl:message>

	<wsdl:message name="BalanceRequestMsg">
		<wsdl:part element="tns:BalanceRequest" name="body" />
		<wsdl:part name="Header" element="head:Header" />
	</wsdl:message>
	<wsdl:message name="BalanceResponseMsg">
		<wsdl:part element="tns:BalanceResponse" name="body" />
		<wsdl:part name="Header" element="head:Header" />
	</wsdl:message>

	<wsdl:message name="CombineRequestMsg">
		<wsdl:part element="tns:CombineRequest" name="body" />
		<wsdl:part name="Header" element="head:Header" />
	</wsdl:message>
	<wsdl:message name="CombineResponseMsg">
		<wsdl:part element="tns:CombineResponse" name="body" />
		<wsdl:part name="Header" element="head:Header" />
	</wsdl:message>

	<wsdl:message name="CloseRechargeTransactionRequestMsg">
		<wsdl:part element="tns:CloseRechargeTransactionRequest" name="body" />
		<wsdl:part name="Header" element="head:Header" />
	</wsdl:message>
	<wsdl:message name="CloseRechargeTransactionResponseMsg">
		<wsdl:part element="tns:CloseRechargeTransactionResponse" name="body" />
		<wsdl:part name="Header" element="head:Header" />
	</wsdl:message>
	
	<wsdl:message name="BalanceXRequestMsg">
		<wsdl:part element="tns:BalanceXRequest" name="body" />
		<wsdl:part name="Header" element="head:Header" />
	</wsdl:message>
	<wsdl:message name="BalanceXResponseMsg">
		<wsdl:part element="tns:BalanceXResponse" name="body" />
		<wsdl:part name="Header" element="head:Header" />
	</wsdl:message>

	<wsdl:message name="BalanceXCloseTransactionRequestMsg">
		<wsdl:part element="tns:BalanceXCloseTransactionRequest" name="body" />
		<wsdl:part name="Header" element="head:Header" />
	</wsdl:message>
	<wsdl:message name="BalanceXCloseTransactionResponseMsg">
		<wsdl:part element="tns:BalanceXCloseTransactionResponse" name="body" />
		<wsdl:part name="Header" element="head:Header" />
	</wsdl:message>

	<wsdl:message name="ReloadXRequestMsg">
		<wsdl:part element="tns:ReloadXRequest" name="body" />
		<wsdl:part name="Header" element="head:Header" />
	</wsdl:message>
	<wsdl:message name="ReloadXResponseMsg">
		<wsdl:part element="tns:ReloadXResponse" name="body" />
		<wsdl:part name="Header" element="head:Header" />
	</wsdl:message>

	<wsdl:message name="OpscBalanceXRequestMsg">
		<wsdl:part element="tns:OpscBalanceXRequest" name="body" />
		<wsdl:part name="Header" element="head:Header" />
	</wsdl:message>
	<wsdl:message name="OpscBalanceXResponseMsg">
		<wsdl:part element="tns:OpscBalanceXResponse" name="body" />
		<wsdl:part name="Header" element="head:Header" />
	</wsdl:message>
	
	
	<wsdl:portType name="TrcsGatewayPortType">
		<wsdl:operation name="Reload">
			<wsdl:input message="tns:ReloadRequestMsg" />
			<wsdl:output message="tns:ReloadResponseMsg" />
		</wsdl:operation>

		<wsdl:operation name="Balance">
			<wsdl:input message="tns:BalanceRequestMsg" />
			<wsdl:output message="tns:BalanceResponseMsg" />
		</wsdl:operation>

		<wsdl:operation name="Combine">
			<wsdl:input message="tns:CombineRequestMsg" />
			<wsdl:output message="tns:CombineResponseMsg" />
		</wsdl:operation>

		<wsdl:operation name="CloseRechargeTransaction">
			<wsdl:input message="tns:CloseRechargeTransactionRequestMsg" />
			<wsdl:output message="tns:CloseRechargeTransactionResponseMsg" />
		</wsdl:operation>
		
		<wsdl:operation name="BalanceX">
			<wsdl:input message="tns:BalanceXRequestMsg" />
			<wsdl:output message="tns:BalanceXResponseMsg" />
		</wsdl:operation>	

		<wsdl:operation name="BalanceXCloseTransaction">
			<wsdl:input message="tns:BalanceXCloseTransactionRequestMsg" />
			<wsdl:output message="tns:BalanceXCloseTransactionResponseMsg" />
		</wsdl:operation>

		<wsdl:operation name="ReloadX">
			<wsdl:input message="tns:ReloadXRequestMsg" />
			<wsdl:output message="tns:ReloadXResponseMsg" />
		</wsdl:operation>	
		
		<wsdl:operation name="OpscBalanceX">
			<wsdl:input message="tns:OpscBalanceXRequestMsg" />
			<wsdl:output message="tns:OpscBalanceXResponseMsg" />
		</wsdl:operation>
		
	</wsdl:portType>


	<wsdl:binding name="TrcsGatewayBinding" type="tns:TrcsGatewayPortType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />

		<wsdl:operation name="Reload">
			<soap:operation soapAction="Reload" style="document" />
			<wsdl:input>
				<soap:body parts="body" use="literal" />
				<soap:header message="tns:ReloadRequestMsg" part="Header"
					use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="body" use="literal" />
				<soap:header message="tns:ReloadResponseMsg" part="Header"
					use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="Balance">
			<soap:operation soapAction="Balance" style="document" />
			<wsdl:input>
				<soap:body parts="body" use="literal" />
				<soap:header message="tns:BalanceRequestMsg" part="Header"
					use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="body" use="literal" />
				<soap:header message="tns:BalanceResponseMsg" part="Header"
					use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="Combine">
			<soap:operation soapAction="Combine" style="document" />
			<wsdl:input>
				<soap:body parts="body" use="literal" />
				<soap:header message="tns:CombineRequestMsg" part="Header"
					use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="body" use="literal" />
				<soap:header message="tns:CombineResponseMsg" part="Header"
					use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="CloseRechargeTransaction">
			<soap:operation soapAction="CloseRechargeTransaction" style="document" />
			<wsdl:input>
				<soap:body parts="body" use="literal" />
				<soap:header message="tns:CloseRechargeTransactionRequestMsg" part="Header"
					use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="body" use="literal" />
				<soap:header message="tns:CloseRechargeTransactionResponseMsg" part="Header"
					use="literal" />
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="BalanceX">
			<soap:operation soapAction="BalanceX" style="document" />
			<wsdl:input>
				<soap:body parts="body" use="literal" />
				<soap:header message="tns:BalanceXRequestMsg" part="Header"
					use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="body" use="literal" />
				<soap:header message="tns:BalanceXResponseMsg"
					part="Header" use="literal" />
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="BalanceXCloseTransaction">
			<soap:operation soapAction="BalanceXCloseTransaction" style="document" />
			<wsdl:input>
				<soap:body parts="body" use="literal" />
				<soap:header message="tns:BalanceXCloseTransactionRequestMsg" part="Header"
					use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="body" use="literal" />
				<soap:header message="tns:BalanceXCloseTransactionResponseMsg"
					part="Header" use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="ReloadX">
			<soap:operation soapAction="ReloadX" style="document" />
			<wsdl:input>
				<soap:body parts="body" use="literal" />
				<soap:header message="tns:ReloadXRequestMsg" part="Header"
					use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="body" use="literal" />
				<soap:header message="tns:ReloadXResponseMsg"
					part="Header" use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="OpscBalanceX">
			<soap:operation soapAction="OpscBalanceX" style="document" />
			<wsdl:input>
				<soap:body parts="body" use="literal" />
				<soap:header message="tns:OpscBalanceXRequestMsg" part="Header"
					use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="body" use="literal" />
				<soap:header message="tns:OpscBalanceXResponseMsg"
					part="Header" use="literal" />
			</wsdl:output>
		</wsdl:operation>
		
				
	</wsdl:binding>

	<wsdl:service name="TrcsGateway">
		<wsdl:port binding="tns:TrcsGatewayBinding" name="TrcsGatewayPort">
			<soap:address location="http://..." />
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>
